<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # Prevent directory browsing
    Options -Indexes

    # Block direct URL access to config and model folders ONLY
    RewriteRule ^(config|model)/ - [F,L]

</IfModule>
