<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # Prevent directory browsing
    Options -Indexes

    # Block direct URL access to config, controller, and model folders
    RewriteRule ^(config|controller|model)/ - [F,L]
</IfModule>